<!DOCTYPE html>
<html>
<head>
  <title>TauliaCompliance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img class="img-responsive img-logo" src="../assets/taulia_logo_reversed_no_bg.png" alt=""></a>
            </div>
            <% if user_signed_in? or session[:spotify_access_token]%>
                <%= form_for @search, :url => country_index_path, :method => "GET", :action => "search" do |search| %>
                    <div class="input-group search">
                        <%= search.text_field(:search, class: "form-control", placeholder: "country ISO code") %>
                        <span class="input-group-btn search">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </span>
                    </div>
                <% end %><!-- /.input-group -->
            <%end%>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% if user_signed_in? or session[:spotify_access_token]%>
                                <li><%= link_to('Overview', root_path, :method => :get) %></li>
                                <li role="separator" class="divider"></li>
                                <% if user_signed_in? %>
                                    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                                <%end%>
                                <% if session[:spotify_access_token]%>
                                    <li><%= link_to('Logout', session_path(session[:spotify_access_token]), :method => :delete) %></li>
                                <%end%>
                            <%else%>
                                <li><%= link_to('Login', new_user_session_path, :method => :get) %></li>
                            <%end%>
                        </ul>
                    </li>
                </ul>
            </div>
                            <!-- /.navbar-collapse -->
        </div>
                            <!-- /.container -->
    </nav>

<%= yield %>



<footer>
    <ul class="footer-nav">
        <p>&copy; Taulia 2015
            <span></span>
            <a href="http://taulia.com/terms-of-use">Terms &amp; Conditions</a>
            <span></span>
            <a href="http://taulia.com/privacy-policy">Privacy Policy</a>
        </p>
    </ul>
</footer>
<!-- /.container -->

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
